<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <form class="form-group" action="/addgame" method="POST">
                <h3>Enter Your Game Here:</h3>
                <label>Title of Game</label>
                <br>
                <input type="text" name="title" required>
                <br>
                <label>Genre of Game</label>
                <br>
                <textarea name="genre" class="form-control" required></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Submit Game</button>
            </form>
        </div>
    </div>
</div>