<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <form class="form-group" action="/editgame/{{entry.id}}?_method=PUT" method="POST">
                <h3>Enter Your Game Here:</h3>
                <label>Edit Title of Game</label>
                <input type="hidden" name="_method" value="PUT">
                <br>
                <input type="text" name="title" value="{{entry.title}}" required>
                <br>
                <label>Edit Description of Game</label>
                <br>
                <textarea name="genre" class="form-control" required>{{entry.genre}}</textarea>
                <br>
                <button type="submit" class="btn btn-primary">Update Game</button>
            </form>
        </div>
    </div>
</div>